header{
    display: flex;
    justify-content: space-between;
    background-color: #303952;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.logo{
    margin-top: 17px;
    font-size: 20px;
    color: #fff;
}

nav{
    text-align: right;
}

.items-nav{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font: 20px;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
}

.items-nav::before{
    content: "";
    background-color: #778BEB;
    width: 10px;
    height: 10px;
    margin-right: 30px;
}

.button{
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #778BEB;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
    transition: .3s linear;
}

.button:hover{
    background-color: #fff;
    color: #778BEB;
}
