#div-titulo{
    text-align: center;
    background-color: #3A4042;
    display: inline-block;
    margin-top: 120px;
    margin-left: 40px;
    padding: 20px 0;
    box-shadow: 5px 5px 0 #000;
}

#div-titulo h1,h2{
    margin-left: 10px;
    margin-right: 10px;
}

