.card-project{
    display: flex;
    margin-right: 75px;
    margin-left: 10px;
    padding: 10px;
    width: 280px;
    height: 280px;
    background-color: #303952;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 0px #fff;
}
