.main-carrousel{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.main-carrousel::after{
    content: '';
    position: absolute;
    display: block;
    height: 6px;
    width: calc(100% - 100px);
    background-color: #000;
    left: 50px;
    top: 48px;
}

.main-carrousel::before{
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px dashed #000;
    left: 0px;
    top: 48px;
}

.main-carrousel .button-arrow{
    position: absolute;
    bottom: 70px;
    transform: translateY(50%)
}

.main-carrousel .button-arrow.-left{
    left: 15px;
}

.main-carrousel .button-arrow.-right{
    right: 15px;
}

.main-carrousel .items{
    width: 100%;
    overflow: hidden;
}

.main-carrousel .elements{
    display: flex;
    justify-content: space-between;
    transition: transform 100ms ease-in-out;
}

