.main-box{
    text-align: center;
    background-color: #3A4042;
    display: inline-block;
    padding: 40px 10px;
    box-shadow: 10px 10px 0 #000;
}

.main-box .main-title{
    margin-bottom: 28px;
}

@media (max-width: 990px){
    .main-box{
        width: 500px;
    }
    .main-box .main-title{
        font-size: 28px;
    }
    .main-box .main-subtitle{
        font-size: 26px;
    }
}

@media (max-width: 850px){
    .main-box{
        width: 400px;
    }
    .main-box .main-title{
        font-size: 23px;
    }
    .main-box .main-subtitle{
        font-size: 21px;
    }
}