.main-section{
    background-color: #778BEB;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #303952;
}

.main-section .main-titulo{
    margin-bottom: 70px;
}

.main-section.-bgBlack{
    background-color: #000;
}

.main-section.-bdBack{
    border-bottom: 10px solid #778BEB;
}