.node-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before{
    content: '';
    position: absolute;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 3px dashed #000;
    transform: rotate(90deg) translateX(-65%);
    bottom: 140px;
}

.node-card .title{
    font-family: 'Press Start 2P', sans-serif;
    color: #778BEB;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
}

.node-card .logo{
    display: flex;
    align-items: center;
    height: 140px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CEB02A;
    border: 5px solid #000;
}