.wrapper-project{
    display: flex;
    justify-content: center;
}

@media (max-width: 975px){
    .wrapper-project .card-project{
        margin-right: 40px;
        justify-content: space-evenly;
    }
}

@media (max-width: 830px){
    .wrapper-project .img-project{
        justify-content: space-evenly;
        height: 200px;
    }

    .wrapper-project .card-project{
        height: 240px;
    }
}

@media (max-width: 780px){
    .wrapper-project{
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .wrapper-project .card-project{
        margin-bottom: 30px;
    }
}
